section {
    min-height: calc(100vh - 3rem);
    display: grid;
    place-items: center;
}

.container {
  text-align: center;
}

.container h2 {
    background: transparent;
    color: black;
    padding: 0.5rem;
    border-radius: 0.25 rem;
    margin-bottom: 2.5rem;
}

.color {
  color: black;
}

.btn-main {
  text-transform: uppercase;
  background: transparent;
  color: #222;
  letter-spacing: 0.1rem;
  display: inline-block;
  font-weight: 800;
  transition: all 0.3s linear;
  border: 3px solid #222;
  cursor: pointer;
  border-radius: 0.25 rem;
  font-size: 0.4rem;
  padding: 0.75rem 1.25rem;
}

.btn-main:hover {
  color: #fff;
  background: #222;
}
#btn {
  text-transform: uppercase;
  background: transparent;
  color: #222;
  letter-spacing: 0.1rem;
  display: inline-block;
  font-weight: 600;
  transition: all 0.3s linear;
  border: 2px solid #222;
  cursor: pointer;
  border-radius: 0.50 rem;
  font-size: 0.4rem;
  padding: 0.75rem 1.25rem;
}

#btn:hover {
  color: #fff;
  background: #222;
}

